.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);


  display: block;
  min-height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-row-start: 1;
  margin-top: 64px;
}


.search-wrapper .search {
  background: #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.search-wrapper .search .search-icon .fa {
  color: #ccc;
  margin: 10px;
}
.search-wrapper .search input {
  padding: 8px 10px;
  border: 0;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 10pt;
  color: #808080;
}
.search-wrapper .search input::-webkit-input-placeholder {
  color: #ccc;
}
